@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: #fbc291;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
.form-box{
    width: 450px;
    margin: 0px 10px;
}
.form-box header{
    font-size: 25px;
    color: rgb(7, 212, 243);
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 10px rgb(0, 0, 0);
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(7, 212, 243);
    outline: none;
}


.btn{
    height: 35px;
    background: rgb(69, 230, 255);
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
    color: #00e1ff;
    background-color: #ffffff;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
    color: #00c3ff;
}
.label{
    color: #00c3ff;
    font-weight: 500;
}